body {
	padding-top:70px;
}

nav .active {
	font-weight: bold;
}

.muted {
	opacity: 0.5;
}

.map-canvas {
			width:100%;
	    height:calc(100% - 70);
	    position:absolute;
	    right:0px;
	    top:50px;
	    bottom:0;
	    overflow:hidden;
}

.restmap-canvas {
			width:100%;
	    height:calc(100% - 50%);
	    position:absolute;
	    right:0px;
	    top:250px;
	    bottom:0;
}
