<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toogle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Restfound</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>{{#link-to 'locate'}}Locate Me{{/link-to}}</li>
				<li>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</li>
				<li>{{#link-to 'about'}}About{{/link-to}}</li>
			</ul>
		</div>
	</div>
</nav>


<div class="container">{{outlet}}</div>
