	<h1>{{name}}</h1>
	{{#if cuisine}}
		<div class="cuisine">
			{{cuisine}}
		</div>
	{{/if}}

	{{#if street}}
	<div class="address">
			{{housenumber}}
		  {{street}}
		  {{city}}
	</div>
	{{/if}}

	{{#if phone}}
		<div class="contact">
			{{phone}}
			{{website}}
		</div>
	{{/if}}


{{rest-map latitude=lat longitude=lon markers=mymarkers}}
