<div class="col-md-4">
  <ul class="list-group">
    {{#each}}
    <li class="list-group-item">

    <h4 class="list-group-item-heading">
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    	{{#link-to 'restaurant' this}}
         {{name}}
      {{/link-to}}
    </h4>
		</li>
    {{/each}}
  </ul> 
</div>
